## Basic Rules
To start the game each player draws ten White Cards.
A player will be chosen at random to be the first Card Czar, and a black card is automatically drawn.
Everyone else answers the question or fills in the blank by selecting one White Card.
The cards are placed in a random order and each combination is displayed to everyone. The Card Czar then picks the funniest play, and whoever submitted it gets one Awesome Point.
After the round, a new player becomes the Card Czar and everyone draws back up to ten White Cards.

##Pick 2
Som